@import '../../index.scss';
.admin-wrapper {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  .admin-warning {
    font-size: 0.8em;
    color: $main-bg-colour;
    background-color: $danger;
    opacity: 0.7;
    text-align: center;
  }
  .admin-dates-wrapper {
    font-size: 0.7em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
  }
  .toggle-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
