@import '../../index.scss';

.search-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  align-items: center;

  p {
    font-size: 0.8em;
  }
  input {
    border-radius: 4px;
  }
  input::placeholder {
    text-transform: uppercase;
    text-align: center;
  }
}
