@import '../../index.scss';
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 0.2rem;
  .inner-content-wrapper {
    border: 1px solid $border-colour-light;
    background-color: $border-colour-dark;
  }

  .dates-wrapper {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
  }
}

.user-profile-image {
  border: 6px solid $border-colour-light;
  background-color: $main-font-colour;
  float: left;
  width: 16%;
  height: auto;
  object-fit: cover;
  margin: 0.1em;
}

.admin-nav-buttons-wrapper {
  display: flex;
  gap: 0.4em;
}

@media (max-width: 375px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
