@import '../../index.scss';
.admin-get-player__top-wrapper {
  padding: 0 0.2em;
  background-color: $dark-blue;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  gap: 0.4em;
}

.user-profile-image {
  border: 6px solid $border-colour-light;
  background-color: $main-font-colour;
  float: left;
  width: 16%;
  height: auto;
  object-fit: cover;
  margin: 0.1em;
}

.admin-nav-buttons-wrapper {
  display: flex;
  gap: 0.2em;
}
