@import '../../index.scss';
.inner-content-wrapper {
  display: flex;
  flex-wrap: wrap;

  .inner-inner-wrapper {
    flex: 0 0 23.5em;

    .user-profile-image {
      float: left;
      width: 25%;
      height: auto;
      object-fit: cover;
    }
  }
}
.dates-wrapper {
  font-size: 0.7em;
  display: flex;
  justify-content: space-between;
}
.admin-nav-buttons-wrapper {
  padding: 0.3em 0;
  display: flex;
  gap: 0.4em;
}
