@import '../../index.scss';
.wrapper {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;

  .cont-wrapper {
    border: 1px solid $border-colour-dark;
    padding: 0.5em;
    flex-grow: 1;
    flex-basis: 0;
  }
}
