@import '../../../index.scss';
.admin-get-plater__top-wrapper {
  border: 1px solid $border-colour-dark;
  background-color: rgba(115, 115, 115, 0.1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  gap: 0.4em;
}
