@import '../../../index.scss';
.admin-get-player__top-wrapper {
  padding: 0 0.2em;
  background-color: $dark-blue;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  gap: 0.4em;
}
