@import '../../index.scss';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

header {
  border: 1px solid $border-colour;
  text-transform: uppercase;
  a {
    color: $main-font-colour;
    padding: 0.1em 0;
    border-radius: 4px;
  }

  nav {
    height: clamp(1rem, $header-height, $header-height);
    background-color: $main-bg-colour;

    span {
      border: 1px solid $border-colour;
      width: 100%;
      text-align: center;
    }

    .login-wrapper {
      display: flex;
      align-items: center;
    }
  }
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      a.active {
        color: $main-bg-colour;
        background-color: $main-font-colour;
        display: flex;
        justify-content: center;
      }
      &:hover {
        background: $border-colour-light;
      }
    }
    .logged-in-user-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
      font-size: 0.5em;
      :first-child {
        position: relative;
        top: -2px;
      }
      .logged-in-user {
        font-family: 'Bebas Neue', cursive;
        color: $secondary-bg-colour;
        letter-spacing: 2px;
        font-size: 1.8em;
        padding: 0.1em;
      }
    }
  }
}
/* Responsive layout */
@media (max-width: 812px) {
  header nav {
    font-size: 0.7em;
    padding: 6px 0;
  }
}
