@import '../../../index.scss';

.search-model-wrapper {
  display: flex;
  align-items: baseline;

  .modal-btn {
    border: 0 solid transparent;
    padding: 0;
  }
}

#read-more-modal {
  font-size: 18px;
}
