@import '../../../index.scss';
.post-wrapper {
  padding: 0.4em;
  &:nth-child(odd) {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5em;
    background-color: white;
  }
}

.button {
  background-color: $danger;
}
